[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
numpy = "*"
matplotlib = "*"
requests = "*"
types-requests = "*"
pandas = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
